body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header h1 {
  font-family: "Sofia", sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: #007bff;
  padding: 1em;
}

.form-container {
  width: 100%;
  max-width: 400px;
  margin: auto;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.form-input {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.form-button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.form-button:hover {
  background-color: #0056b3;
}
.login-emoji {
  display: none;
}
@media only screen and (min-width: 1024px) {
  .login-emoji {
    background-image: url("./Login-emoji.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 300px;
    display: flex;
    margin-top: 11em;
    margin-left: 5em;
  }
  .login-pic-and-forms {
    display: flex;
  }
}

@media only screen and (min-width: 1366px) {
  .login-emoji {
    background-image: url("Login-emoji.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 300px;
    display: flex;
    margin-top: 11em;
    margin-left: 15em;
  }
  .login-pic-and-forms {
    display: flex;
  }
}
