* {
  box-sizing: border-box;
}
.whatsup-docaration {
  position: fixed;
  bottom: 120px;
  right: 10px;
  z-index: 999;
  text-decoration: none;
}
.inside-whatsup-icon {
  background-color: #777;
  padding: 5px 5px;
  color: white;
  font-size: 0.5rem;
}
.chat-me {
  position: relative;
}
@media only screen and (min-width: 1366px) {
  .whatsup-docaration {
    bottom: 120px;
    right: 10px;
  }
}
