.waiting-emoji {
  background-image: url("waiting.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 430px;
  height: 350px;
  margin-top: 4em;
  margin-left: auto;
  margin-right: auto;
}
.about-text {
  margin-top: 2em;
  font-size: 20px;
}
