.checkout-container {
  margin-top: 5em;
}
.checkout-content {
  justify-content: center;
  margin-top: 10em;
}
.check-point-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-size: 16px;
}

.check-point-table th,
.check-point-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.check-point-table th {
  background-color: #f2f2f2;
}

.check-point-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.check-point-table tbody tr:hover {
  background-color: #ddd;
}
.checkout-products {
  margin-top: 5em;
}
.order-placed {
  text-align: center;
  justify-content: center;
  color: green;
}
.place-order-btn {
  width: 100%;
  background-color: rgb(60, 60, 241);
  padding: 1em 1em;
  border-radius: 20px;
  color: white;
  border: none;
  margin-top: 2em;
  text-transform: uppercase;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .checkout-content {
    display: flex;
    margin-top: 10em;
    gap: 4em;
  }
  .checkout-products {
    width: 35%;
  }
  .checkout-form {
    width: 40%;
  }
}
@media only screen and (min-width: 1024px) {
  .checkout-content {
    display: flex;
    margin-top: 10em;
    gap: 4em;
  }
  .checkout-products {
    width: 35%;
  }
  .checkout-form {
    width: 40%;
  }
}

@media only screen and (min-width: 1366px) {
  .checkout-content {
    display: flex;
    margin-top: 10em;
    gap: 4em;
  }
  .checkout-products {
    width: 35%;
  }
  .checkout-form {
    width: 40%;
  }
}
