* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.site-description {
  width: 100%;
  padding: 2em 1em;
  background-color: #ffffff;

  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.header {
  background-size: cover;
  background-color: #c6b562;
  color: white;
  padding: 7px 10px;
  border-radius: 14px;
  margin-top: 5em;
  border: none;
}

.fruit-in-container {
  overflow-x: scroll;
}

.fruit-container .sub-fruit-container {
  width: 130px;
}
.in-touch {
  font-size: 30px;
  margin-top: 4em;
  margin-bottom: 1em;
}
.site-aim {
  font-size: 20px;
  margin-top: 1em;
}
.decorate-part-of-site-aim {
  text-transform: uppercase;
}
.title {
  display: block;
  margin-top: 10px;
}

.left-site-description {
  width: 100%;
}
.main-container {
  /*
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
      gap: 2em;
  
    */
  margin-top: 4em;
}
.main-container img {
  width: 100%;
}
.sub-container {
  width: 100%;
  height: 250px;
  margin: 10px;
  border-radius: 10px;
  justify-content: center;
  text-align: center;
  padding: 3em 3em;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.first-sub-container {
  background-color: azure;
}
.second-sub-container {
  background-color: beige;
}
.sub-container img {
  width: 80%;
  height: 150px;
}

.third-sub-container {
  background-color: rgb(213, 213, 164);
}

.filter-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-button button {
  padding: 10px 10px;
  margin-right: 10px;
  cursor: pointer;
  background-color: transparent; /* Set the default background color */
  border: none; /* Remove the default button border */
  outline: none; /* Remove the default button outline */
}

.filter-button button:last-child {
  margin-right: 0;
}

.filter-button button.active {
  background-color: #c6b562; /* Set the background color for the active button */
  color: white; /* Set the text color for the active button */
}
.scroll-button {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  margin-left: 9em;
  gap: 5px;
}
.scroll-button button {
  border: none;
  background-color: #e0bb53;
  cursor: pointer;
}
.scroll-button button:hover {
  background-color: #d28e0f;
}
.scroll-left-right {
  padding: 1px 7px;
}

@media only screen and (min-width: 712px) {
  .title {
    display: block;
  }
  .main-container {
    margin-top: 10em;
  }
  .main-container img {
    width: 350px;
    height: 250px;
  }
  .sub-container {
    width: 150px;
    height: 160px;
    padding: 2em 2em;
  }
  .site-description {
    display: flex;
  }
  .left-site-description {
    width: 40%;
    margin: 5em;
  }
  .sub-container img {
    width: 100%;
    height: auto;
  }
  .sort-container {
    display: none;
  }
  .scroll-button {
    margin-left: 32em;
  }
}

@media only screen and (min-width: 1024px) {
  .title {
    display: block;
  }
  .site-description {
    display: flex;
  }
  .sub-container {
    width: 195px;
    height: 195px;
    padding: 2em 2em;
  }
  .sub-container img {
    width: 100%;
    height: 100px;
  }
  .left-site-description {
    width: 50%;
    margin: 5em;
  }
  .main-container img {
    width: 450px;
    height: 350px;
  }
  .sort-container {
    display: none;
  }
  .fruit-container .sub-fruit-container {
    width: 150px;
  }
  .scroll-button {
    margin-left: 46em;
  }
}

@media only screen and (min-width: 1366px) {
  .title {
    display: block;
  }
  .sub-container {
    width: 200px;
    height: 200px;
  }
  .title-order {
    text-align: start;
  }
  .sub-container img {
    width: 100%;
    height: 100px;
  }
  .left-site-description {
    width: 50%;
    margin: 5em;
  }
  .main-container img {
    width: 550px;
    height: 350px;
    margin-right: 10em;
  }
  .sort-container {
    display: none;
  }
  .fruit-in-container {
    display: flex;
    overflow-x: auto;
    gap: 10px; /* Adjust the gap as needed */
  }

  .fruit-container .sub-fruit-container {
    min-width: 180px; /* Adjust the minimum width as needed */
    white-space: normal;
  }
  .scroll-button {
    margin-left: 78em;
  }
}
